.header-top {
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 0;
}
.logo-img img{
  max-width: 140px;
  width: 100%;
}
.header-top .header-bot a {
  margin-right: 13px;
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  color: #454545;
}
.offcanvas-end .header-body a {
  margin-bottom: 13px;
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  color: #454545;
}
.offcanvas-end .header-body a:hover {
  color: #a50000;
}
.header-top a:hover {
  color: #a50000;
}
.offcanvas{
  max-width: 80%;
}
@media only screen and (max-width: 430px) {
  .offcanvas{
      max-width: 70%!important;
  }
}
@media only screen and (max-width: 430px) {
  .offcanvas .offcanvas-header .offcanvas-title img{
      width: 90%;
  }
}
