@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {
  font-size: 16px !important;
  color: #454545 !important;
  font-family: "Roboto Condensed", sans-serif !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.btn-brand {
  background-color: #a50000 !important;
  border: 1px solid #a50000 !important;
  color: #fff !important;
}
.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 500;
  padding: 12px 32px !important;
  border-radius: 10px;
}
.btn-brand:hover {
  color: #fff !important;
  border: 1px solid #8c0000 !important;
  background-color: #8c0000 !important;
}
a:hover {
  color: #a50000;
}
a {
  text-decoration: none !important;
}
img {
  vertical-align: middle;
  border-style: none;
}
.section {
  margin-bottom: 64px !important;
}
@import url("../assets/css/header.css");
@import url("../assets/css/carousel.css");
@import url("../assets/css/homeservices.css");
@import url("../assets/css/footer.css");
@import url("../assets/css/homenew.css");
@import url("../assets/css/beforeafter.css");
@import url("../assets/css/homebmi.css");
@import url("../assets/css/showformbmi.css");
@import url("../assets/css/popup.css");
@import url("../assets/css/clb.css");
@import url("../assets/css/dichvu.css");
@import url("../assets/css/chinhsachgia.css");
@import url("../assets/css/tintuc.css");
@import url("../assets/css/newdetail.css");
@import url("../assets/css/subdichvu.css");
